<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zbkj.service.dao.ArticleCaseExtendDao">

    <resultMap id="BaseResultMap" type="com.zbkj.common.model.article.ArticleCaseExtend">
        <id column="id" property="id"/>
        <result column="article_id" property="articleId"/>
        <result column="project_name" property="projectName"/>
        <result column="industry_category" property="industryCategory"/>
        <result column="region_category" property="regionCategory"/>
        <result column="project_type" property="projectType"/>
        <result column="project_address" property="projectAddress"/>
        <result column="project_period" property="projectPeriod"/>
        <result column="project_background" property="projectBackground"/>
        <result column="supply_products" property="supplyProducts"/>
        <result column="implementation_result" property="implementationResult"/>
        <result column="product_ids" property="productIds"/>
        <result column="cover_images" property="coverImages"/>
        <result column="sort" property="sort"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

</mapper>
